<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

			<add key="ConsumerKey" value="jip7Ft6Qs84hnVfLHQqaZ9Woh"/>
			<add key="ConsumerSecret" value="GAxeS5RDsNSD5eb35NK3naYrdQtYoASnOxUbJkxbAkrds5urNl"/>
			<add key="AccessToken" value="1356420902620196864-HlRT4y8C1cyBtsbL4hWsWxyazNYY1g"/>
			<add key="AccessTokenSecret" value="hKKETNWze1t8hU6RdgUhjz8euOJsHjlGqeTXXbmzCZrxH"/>
			<add key="BearerToken" value="AAAAAAAAAAAAAAAAAAAAANtcMQEAAAAABf8OkCO1IxiZ4TfZ56%2BaoMEHW5E%3DkQKQras0QgJRxaLFOZ7psk4NnoGxSkXev9PyCDVkok5CycwNt9"/>
		
	</appSettings>
</configuration>